<div class="p-6 rounded-lg shadow-md">
  <div class="mb-4 flex flex-col">
    <p class="text-red-600 text-lg">Import Pegawai</p>
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        for="file_input"
        >Upload file</label
      >
      <input
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        aria-describedby="file_input_help"
        id="file_input"
        type="file"
        name="file"
        (change)="onFileChange($event)"
      />
      <p
        class="mt-1 text-sm text-gray-500 dark:text-gray-300"
        id="file_input_help"
      >
        .xlsx
      </p>
    </div>
    <div class="mt-4 flex gap-x-3 justify-end">
      <button mat-stroked-button (click)="onSubmit()">Upload</button>
    </div>
  </div>
</div>
