<!-- Container for the layout -->
<div id="container" class="flex w-full h-[100vh]">
  <!-- Sidebar -->
  <div
    id="sidebar"
    class="w-[200px] h-[100%] bg-white shadow-lg fixed top-0 left-0 pt-20 flex flex-col items-start px-4 gap-y-4 transition-transform"
    [ngClass]="{ 'transform -translate-x-full': !sidebarActive }"
  >
    <button
      class="flex w-full justify-center py-2 rounded-full hover:bg-blue-600/5"
      [ngClass]="{
        'bg-blue-600/30 hover:bg-blue-600/30': currentpage === 'pegawai'
      }"
      (click)="goToPage('pegawai')"
    >
      Pegawai
    </button>
    <button
      class="flex w-full justify-center py-2 rounded-full hover:bg-blue-600/5"
      (click)="goToPage('jabatan')"
      [ngClass]="{
        'bg-blue-600/30 hover:bg-blue-600/30': currentpage === 'jabatan'
      }"
    >
      Jabatan
    </button>
    <button
      class="flex w-full justify-center py-2 rounded-full hover:bg-blue-600/5"
      (click)="goToPage('cabang')"
      [ngClass]="{
        'bg-blue-600/30 hover:bg-blue-600/30': currentpage === 'cabang'
      }"
    >
      Cabang
    </button>
  </div>

  <!-- Content Wrapper -->
  <div
    id="contentWrapper"
    class="flex flex-col flex-grow transition-all"
    [ngClass]="{ 'ml-[200px]': sidebarActive, 'ml-0': !sidebarActive }"
  >
    <!-- Header -->
    <div
      id="header"
      class="bg-white shadow-md p-5 fixed top-0 transition-all z-10 w-full"
      [ngClass]="{ 'left-[200px]': sidebarActive, 'left-0': !sidebarActive }"
    >
      <svg
        (click)="sidebarActive = !sidebarActive"
        stroke="currentColor"
        fill="none"
        stroke-width="0"
        viewBox="0 0 24 24"
        height="24px"
        width="24px"
        xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer text-blue-600"
      >
        <path
          d="M22 18.0048C22 18.5544 21.5544 19 21.0048 19H12.9952C12.4456 19 12 18.5544 12 18.0048C12 17.4552 12.4456 17.0096 12.9952 17.0096H21.0048C21.5544 17.0096 22 17.4552 22 18.0048Z"
          fill="currentColor"
        ></path>
        <path
          d="M22 12.0002C22 12.5499 21.5544 12.9954 21.0048 12.9954H2.99519C2.44556 12.9954 2 12.5499 2 12.0002C2 11.4506 2.44556 11.0051 2.99519 11.0051H21.0048C21.5544 11.0051 22 11.4506 22 12.0002Z"
          fill="currentColor"
        ></path>
        <path
          d="M21.0048 6.99039C21.5544 6.99039 22 6.54482 22 5.99519C22 5.44556 21.5544 5 21.0048 5H8.99519C8.44556 5 8 5.44556 8 5.99519C8 6.54482 8.44556 6.99039 8.99519 6.99039H21.0048Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>

    <!-- Main Content Area -->
    <div class="flex w-full h-full pt-[80px] p-8 relative">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
